.bg{
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 50vh; */
  text-align: center;
  background-color: rgb(143, 140, 140);
}

.bg2{
  background-image: url('./Assets/images/raleigh_skyline.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;

}

.bg3{
  height: 100vh;
  text-align: center;
  background-color: #a86b6b;
}

.about{
  color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bd030d;
  border-radius: 15%;
}

.about-wrapper {
  padding-top: 20px;
}

.skills-wrapper {
  padding-top: 100px;
}

.connect-wrapper {
  padding-top: 70px;
}

.line {
width: 50px;
border-bottom: 1px solid #ffacb0;
margin: 0 auto;
margin-bottom: 10px;
}

.line2 {
  border-bottom: 1px solid #7c5a9d;
  }

.me-image img {
  width: 250px;
  border-radius: 15%;
}

.socials {
  padding-top:50px;
}

.socials span {
  font-size: 150%;
  color: whitesmoke;
}

.socials p{
  color: black;
}

div .hero-text{
  position: absolute;
  border-radius: 5%;
  background-color: #a86b6b;
  color: whitesmoke;
  top: 45%;
  padding-left: 50px;
  z-index: 1;
  width: 35%;
}

.nav-wrapper {
  position: fixed;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: #bd030d;
}

.nav {
  float: right;
}

.nav-link {
  color:black;
}

.nav-link:hover {
  color:whitesmoke;
}

.skills-list h4 {
  color:whitesmoke;
}

@media only screen and (max-width: 800px) {
  div .hero-text {
    position: unset;
    margin: auto 0;
    padding: 50px;
    width: 50%;
  }

  .bg2{
    background-image:'./Assets/images/raleigh_skyline.jpg';
  }
}

@media (max-width: 575.98px) { 
  .bg, .bg3 {
    height: 100vh;
  }

 }